<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hammurabi Game Home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet/less" href="css/style.less" type-"text/css">
  <script type="text/javascript" src="css/less.js"></script>
</head>
<body>
  <h1>Hammurabi 3000</h1>
  <h4>A game of galactic strategy and mass resource alotment</h4>
  <div class="report">
    Hammurabi: I beg to report to you,
    In <strong>Year <span class="year">3001</span></strong>, <strong><span class="starved">0</span></strong> people starved.
    <strong><span class="immigrants">5</span></strong> people came to the city.
    The city population is now <strong><span class="population">100</span></strong>.
    The city now owns <strong><span class="land">1000</span></strong> acres.
    You harvested <strong><span class="harvest">3</span></strong> rations per acre.
    Space crabs ate <strong><span class="rats">200</span></strong> rations.
    You now have <strong><span class="rationsStore">2800</span></strong> rations in store.
    Land is trading at <strong><span class="landTrade">19</span></strong> rations per acre.
  </div>
  <div>
    <strong><span class="rationCounter">2800</span></strong> rations remaining
  </div>
    <hr>
    <span class="question">How many acres do you wish to sell?</span> <textarea placeholder="enter negative to sell" class="landBuy"></textarea>
    <hr>
    <span class="question">How many bushels do you wish to feed you people?</span> <textarea placeholder="each citizen needs 20/year" class="food"></textarea>
    <hr>
    <span class="question">How many acres do you wish to plant withe seed?</span> <textarea placeholder="acre = 1ration" class="plant"></textarea>
    <hr>
    <button class="makeItSo button">Make it So!</button>
    <button class="startNew">New Game</button>
<script type="text/javascript" src="css/query.js"></script>
</body>
</html>
