<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Hammurabi Game Home</title>
    <link rel="stylesheet/less" type="text/css" href="css/css.less">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Righteous" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="box a">
        <h1>HAMMURABI 3000</h1>
        <h4>A GAME OF GALACTIC STRATEGY AND MASS RESOURCE ALOTMENT</h4>
      </div>
      <div class="box b">
        <div class="report">
          <strong>Overlord Hammurabi</strong>: I beg to report to you,
          <span class="plague">An enemy incursion has swept over your demense! <strong><span class="plagueNumber">0</span> Citizens have perished!!</strong></span>
          In the <strong>Year <span class="year">3001</span></strong>,
          <strong><span class="starved">0</span></strong> civilians starved.
          <strong><span class="immigrants">5</span></strong> civilians came to the city.
          The Dominion population is now <strong><span class="population">100</span></strong>.
          The Dominion now owns <strong><span class="land">1000</span></strong> quadrants.
          You harvested <strong><span class="harvest">3</span></strong> rations per quadrant.
          Space crabs ate <strong><span class="spaceCrabs">200</span></strong> rations.
          You now have <strong><span class="rationsStore">2800</span></strong> rations in store.
          Space is trading at <strong><span class="landTrade">22</span></strong> rations per quadrant.</br>
        </div>
      </div>
      <div class="count c">
        <span class="borderCounter"><span class="rationCounter"><strong>2800</strong></span> rations remain!</span>
      </div>
      <div class="box d">
        <div class="input">
          <span class="question">How many quadrants do you wish to appropriate?</span> </br><textarea placeholder="enter negative to barter" class="landBuy" rows="1" cols="25" type="number"></textarea></br>
          <span class="question">How many rations do you wish to feed your citizens?</span> </br><textarea placeholder="each citizen needs 20/year" class="food" rows="1" cols="25" type="number"></textarea></br>
          <span class="question">How many quadrants do you wish to inseminate?</span> </br><textarea placeholder="quadrant = 1ration" class="plant" rows="1" cols="25" type="number"></textarea>
        </div>
      </div>
      <div class="box e">
        <div class="btn">
        <button class="startNew">New Game</button>
        <button class="makeItSo">Make it So!</button>
        </div>
      </div>
      <div class="box f">
        <center>
        <div class="winScreen">
          <img src="../images/YOU_WIN.png" class="youWin"/>
        </div>
        </center>
      </div>
      <div class="box g">
        <center>
        <div class="failScreen">
          <img src="../images/YOU_LOSE.png" class="youFail"/>
        </div>
        </center>
      </div>
      <div class="box h">
        <div class="endReport">
          Starved = <span class="starvedTotal">0</span>
          SpacePerCiv = <span class="landRatio">10</span>
          You earned <span class="points">0</span> points!
          <span class="fink">Your performance was so abysmal the people call you the Intergalactic fink!</span>
          <span class="meh">Your rule is forgetable as are you.</span>
          <span class="good">Quite the performance, it was almost worthy of a true king.</span>
          <span class="best">You are the single greatest ruler that has ever served, may we all beg to report to you for all time!</span>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="javascript/game.js"></script>
</html>
