/*LESS Variables for Colors  */

@primary-color:#7071b5;
@accent-color:#29005d;
@background-color:#000024;
@bold-font:'Righteous', cursive;
@light-font:'Aldrich', sans-serif;
/*end of variable declaration */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 150px 200px 100px auto;
  grid-gap: 10px;
  color: #444;
}

.box {
  background-color: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
}

.b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
}

.c {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
}

.d {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
}

/*Background*/
body {
  background-image: url(../images/BackgroundPC.png);
  background-position: center center;
  background-color: @background-color;
  background-attachment: fixed;
  background-size: cover;
}
/*Background End*/

/*Report*/
h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:@primary-color;
  font-family: @bold-font;
  font-size: 44px;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:@primary-color;
  font-family:@light-font;
  font-size: 16px;
}

.info {
  text-align: justify;
}

.report {
  color:@primary-color;
  font-family:@light-font;
  font-size: 12px;
}

strong {
  color:@primary-color;
  font-family: @bold-font;
  font-size: 16px;
}

.plague {
    display: none;
}

.count {
  margin-top: 10px;
  float: right;
  color:@primary-color;
  font-size: 18px;
}
/*Report end*/

/*questions*/
.input {
  text-align: justify;
  margin-top: 5px;
  overflow:hidden;
  color:@primary-color;
  font-family:@light-font;
  font-size: 12px;
  padding-left: 5px;
}

textarea {
  margin-top: 4px;
  margin-bottom: 8px;
  font-family:@light-font;
  border-radius: 6px;

}
/*questions end*/

/*buttons*/
.btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button{
  -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: @primary-color;
    font-family: @bold-font;
    font-size: 14px;
    background: none;
    padding: 8px 16px;
    text-decoration: none;
}

button:hover {
  background-color: @accent-color;
}

.makeItSo {
  margin-left: 60px;
}

.startNew {
  margin-right: 60px;
}
/*buttons end*/

/*winScreen*/
.youWin {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
}
